
	body{
		background-color: white;
		
	}
	@MEDIA (min-width: 768px){ /*데스크탑 대응*/
		
		body{
			width:90%;
			margin: auto;
		}
		#imgg{
			width:100%;
			height:100%;
		}
		.jumbotron{
			height: 700px;
		}
		.container{
			margin-top:15%;
			padding-top:70px;
		}
		.container-fluid bg-3 text-center{
			height:500px;
		}
	}
	@MEDIA (max-width: 767px){ /* 모바일 대응*/
		body{
		width:auto;
		margin: 0 10%;
		}
		.container-fluid bg-3 text-center{
			height:150px;
			margin-bottom: 10px;
		}
		.jumbotron{
    	width:100%;
    	margin-left:0;
    	
   		}
   		.container{
			
			padding-top: 15%;
		}
		#notice-bbs{
			display: none;
		}
		#imgg{
			
		}
		#imgg, #calen{
			display:none;
		}
		
		.indexbt1row{
		 width:50%;
		 display: table-cell;
		}
		.indexbt2row{
		 width:50%;
		 display: table-cell;
		}
		#searchbar{
			float: inherit;
			vertical-align: middle;
		} 
		#allbutton{ /* 버튼모음 */
			margin-top: 100px;
		}
		
	}
	@MEDIA (min-width: 992px){
	
	}
	@MEDIA (max-width: 991px){
		#favorbook{
			display:none;
		}
	}
	
	#logo{
    	width:15%;
    }
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      
    }
    .jumbotron{
    	
    	padding:0;
    	-webkit-transform:translateZ(-3px)
    }
    
    #imgg{
    	position:absolute;z-index:-1;
    	padding:0;
    	margin:0;
    	
    	
    }
    .navbar-inverse {
    background-color: #1AA4AC;
    border-color: #1AA4AC;
}
	
	#search-statusBar{
		background-color: white;
		width:50px;
		height:46px;
		position:absolute; z-index:2;
		float: left;
		margin:0;
		margin-left:-50px;
		padding:0;
		border-top: 1px solid #ccc;
		border-right: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		border-left:1px;
	}
	.container{
		
		margin-bottom:40%;
		
		padding-bottom:60px;
		width:100%;
		position:absolute;
		z-index:1;
		background-color: rgba(11, 211, 146, 0.5 );
		color:white;
	}
	
	#search-status{
		float:left;
		color:#ccc;
		display: inline;
		
	}
	
    